Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor.meta
Assets/QFramework/PackageAdmin/
Assets/Plugins.meta
Library/
obj/
Temp/
*.csproj
*.sln
*.user
Packages/com.unity.uiwidgets/.idea/com.unity.uiwidgets.iml
Packages/com.unity.uiwidgets/.idea/misc.xml
Packages/com.unity.uiwidgets/.idea/modules.xml
Packages/com.unity.uiwidgets/.idea/vcs.xml
Packages/com.unity.uiwidgets/.idea/workspace.xml
Packages/com.unity.uiwidgets/.git.zip
.idea/
